<!-- preload static images -->
<div id="preLoadImgs">
    <!--  -->
    <img src="/assets/logo3.png" alt="">
    <img src="/assets/logo6.png" alt="">
    <img src="/assets/divBg.jpg" alt="">

    <!-- utility images -->
    <img src="/assets/spinners/loading-template-spinner.gif" alt="">
    <img src="/assets/spinners/spinner.mov.gif" alt="">
    <img src="/assets/spinners/spinnergif2.gif" alt="">
    <img src="/assets/alert.png" alt="">
    <img src="/assets/default-product.png" alt="">
    <img src="/assets/error.png" alt="">
    <img src="/assets/success.png" alt="">

    <!-- auth screen wallpaper images -->
    <img src="/assets/wallpapers/spices2.jpg" alt="">
    <img src="/assets/wallpapers/meats.jpg" alt="">
    <img src="/assets/wallpapers/marketaisle.jpg" alt="">
    <img src="/assets/wallpapers/fruits.jpg" alt="">
    <img src="/assets/wallpapers/sweets.jpg" alt="">
    <img src="/assets/wallpapers/spices.jpg" alt="">

    <!-- store category images -->
    <img src="/assets/categories/bakery.jpg" alt="">
    <img src="/assets/categories/dairy.jpg" alt="">
    <img src="/assets/categories/drinks.jpg" alt="">
    <img src="/assets/categories/meats.jpg" alt="">
    <img src="/assets/categories/pantry.jpg" alt="">
    <img src="/assets/categories/fruitsAndVeggies.jpg" alt="">
</div>

<!-- if notification/alert -->
<app-notifications *ngIf="ClientNotification$ | async as notification" [Notification]="notification">
</app-notifications>

<!-- Main outlet -->
<div id="app-wrapper" class="flexCol">
    <router-outlet></router-outlet>
</div>